

.btn {
    border-radius: 8px;
    border: 1px solid #3a3a3a;
    padding: 0.5rem 0.9rem;
    background: rgb(161, 107, 45);
    color: white;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: rgb(194, 138, 74);
    transition: background-color 0.3s ease;
}

.cancel-btn{
    background: gray;
}

.cancel-btn:hover{
    background-color: #aaaaaa;
}

.form {
    margin-top: 3rem;
    padding-top: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    background: rgb(27, 27, 27);
    padding: 30px;
    z-index: 10;
}


.hide-form{
    display: none;
}

.form__body {
    border-top: 3px solid var(--line);
    display: grid;
    gap: 0px 1.4rem;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 100px) 200px repeat(3, 100px);

    grid-template-areas: 
        "head1 head1 head1 head1 head1 . . . ."
        "a a a b b b . p p"
        "c c c d d d . p p"
        "j j j j j j j j j"
        "head2 head2 head2 . . . . . ."
        "e e e f f f g g h"
        ". . . i i i . . .";
}

.image-preview{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}

.form__actions button{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}



#form-heading{
    margin-bottom: 1rem;
}

.form-subheading{
    font-size: 2rem;
    margin-top: 1rem;
}

#contact-info-header{
    grid-area: head1;
}
#address-info-header{
    display: block;
    grid-area: head2;
}

#pet-name-field{
    grid-area: a;
}
#owner-name-field{
    grid-area: b;
}
#phone-field{
    grid-area: c;
}
#email-field{
    grid-area: d;
}
#street-field{
    grid-area: e;
}
#city-field{
    grid-area: f;
}
#state-field{
    grid-area: g;
}
#zip-field{
    grid-area: h;
}
#description-field{
    grid-area: j;
}

#description-field textarea {
    height: calc(100% - 30px);
}
.image-input-container{
    grid-area: p;
    aspect-ratio: 1;
    height: 152px;
    padding: 0;
    margin: 0;
    top: 25px;
    position: relative;
    background-color: var(--input);
    border: none;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease;
    position: relative;
}

.image-input-container:hover{
    background-color: var(--inputFocus);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.image-input-container input{
    display: none;
}


#actions{
    grid-area: i;
}

.field {
    gap: 0.25rem;
}

.field input {
    box-sizing: border-box;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
}

.input-error{
    border: 2px solid rgb(145, 29, 29) !important;
    background-color: rgb(211, 179, 179);
    transition: background-color 0.3s ease, border 0.3s ease;
}

.field-error{
    font-size: 10px;
    text-align: right;
    margin-top: 4px;
    color: rgb(145, 29, 29);
    position: relative;
    right: 10px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.field-error-hidden{
    opacity: 0;
    transition: opacity 0.3s ease;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--pop);
    transition: color 0.3s ease;
}

input,
select,
textarea {
    border-radius: 8px;
    border: none;
    padding: 1rem 0.75rem;
    background: var(--input);
    color: black;
    width: 100%;
    transition: background-color 0.3s ease;
}

input:focus, input:hover, textarea:focus, textarea:hover{
    outline: none;
    background: var(--inputFocus);
    transition: background-color 0.3s ease;
}

.field:has(input:focus) > label{
    color: var(--inputFocus);
} 

.form__actions {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

@media (max-width: 720px) {
    .form-subheading{
        font-size: 1.5rem;
    }
    .form__body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px repeat(3, 100px) 200px 60px repeat(3, 100px);

    grid-template-areas: 
        "head1 head1 head1 head1 head1 head1"
        "a a a p p p"
        "b b b p p p"
        "c c c d d d"
        "j j j j j j"
        "head2 head2 head2 head2 head2 head2"
        "e e e f f f"
        "g g g h h h"
        ". i i i i .";
}



.image-input-container{
    justify-self: center;
    margin-bottom: 30px;
}
}

@media (max-width: 500px) {
    .form__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px repeat(6, 100px) 200px 50px repeat(4, 100px);

    grid-template-areas: 
        "head1 head1"
        "a a"
        "b b"
        "c c"
        "d d"
        "p p"
        "p p"
        "j j"
        "head2 head2"
        "e e"
        "f f"
        "g h"
        "i i";
}

.image-input-container{
    justify-self: center;
    margin-bottom: 30px;
}
}

@media(prefers-color-scheme: light){
    .form {
        background-color: white;
    }
}