

.btn {
    border-radius: 8px;
    border: 1px solid #3a3a3a;
    padding: 0.5rem 0.9rem;
    background: var(--btn);
    color: var(--btnText);
    cursor: pointer;
}

.form {
    margin-top: 3rem;
    padding-top: 1rem;
}

.form__body {
    border-top: 3px solid var(--line);
    display: grid;
    gap: 0px 1.4rem;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 100px);

    grid-template-areas: 
        "head1 head1 head1 head1 head1 . . . ."
        "a a a b b b . p p"
        "c c c d d d . p p"
        "head2 head2 head2 . . . . . ."
        "e e e f f f g g h"
        ". . . i i i . . .";
}

.form__actions button{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form__actions button:hover{
    background-color: var(--btnHover);
    transition: background-color 0.3s ease;
}

#form-heading{
    margin-bottom: 1rem;
}

.form-subheading{
    font-size: 2rem;
    margin-top: 1rem;
}

#contact-info-header{
    grid-area: head1;
}
#address-info-header{
    display: block;
    grid-area: head2;
}

#pet-name-field{
    grid-area: a;
}
#owner-name-field{
    grid-area: b;
}
#phone-field{
    grid-area: c;
}
#email-field{
    grid-area: d;
}
#street-field{
    grid-area: e;
}
#city-field{
    grid-area: f;
}
#state-field{
    grid-area: g;
}
#zip-field{
    grid-area: h;
}
.image-input-container{
    grid-area: p;
    aspect-ratio: 1;
    height: 152px;
    padding: 0;
    margin: 0;
    top: 25px;
    position: relative;
    background-color: var(--input);
    border: none;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease;
}

.image-input-container:hover{
    background-color: var(--inputFocus);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.image-input-container input{
    display: none;
}


#actions{
    grid-area: i;
}

.field {
    gap: 0.25rem;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--pop);
    transition: color 0.3s ease;
}

input,
select {
    border-radius: 8px;
    border: none;
    padding: 1rem 0.75rem;
    background: var(--input);
    color: black;
    width: 100%;
    transition: background-color 0.3s ease;
}

input:focus, input:hover{
    outline: none;
    background: var(--inputFocus);
    transition: background-color 0.3s ease;
}

.field:has(input:focus) > label{
    color: var(--inputFocus);
} 

.form__actions {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

@media (max-width: 720px) {
    .form-subheading{
        font-size: 1.5rem;
    }
    .form__body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px repeat(3, 100px) 60px repeat(3, 100px);

    grid-template-areas: 
        "head1 head1 head1 head1 head1 head1"
        "a a a p p p"
        "b b b p p p"
        "c c c d d d"
        "head2 head2 head2 head2 head2 head2"
        "e e e f f f"
        "g g g h h h"
        ". i i i i .";
}

.image-input-container{
    justify-self: center;
    margin-bottom: 30px;
}
}

@media (max-width: 500px) {
    .form__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px repeat(6, 100px) 50px repeat(4, 100px);

    grid-template-areas: 
        "head1 head1"
        "a a"
        "b b"
        "c c"
        "d d"
        "p p"
        "p p"
        "head2 head2"
        "e e"
        "f f"
        "g h"
        "i i";
}

.image-input-container{
    justify-self: center;
    margin-bottom: 30px;
}
}