.details-card{
    width: 100%;
    padding: 2rem 2rem;
    background: var(--card);
    border-radius: 2rem;
}

.details-header{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    gap: 30px;
    padding-bottom: 3rem;
    border-bottom: 2px solid gray;
}

.details-header h2 {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.details-header p {
    font-size: 1.4rem;
}

.details-header img{
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}