nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    left: 5%;
}

.details-next, .details-prev{
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.inactive-nav{
    cursor:default;
    color: rgb(184, 184, 184);
    pointer-events: none;
}

.details-next:hover, .details-prev:hover{
    font-weight: bold;
    color: gray;
    transition: color 0.3s ease;
}

.details-card{
    width: 100%;
    padding: 2rem 2rem;
    background: var(--card);
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.details-header{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    gap: 30px;
    padding-bottom: 3rem;
    border-bottom: 2px solid gray;
}

.back-container:hover .back-arrow-container div  {
    background-color: gray;
    transition: background-color 0.3s ease;
}
.back-container:hover p{
color: gray;
transition: color 0.3s ease;
}

.back-container{
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    cursor: pointer;
}

.back-container p {
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-arrow-container{
   
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.arrow-head-part{
    width: 20px;
    height: 4px;
    background: black;
    transform-origin: left;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    transition: background-color 0.3s ease;
}

.arrow-head{
    position: absolute;
    top: calc(50% - 2px);
    transition: background-color 0.3s ease;
}

.inverted{
    transform: rotate(180deg)
}

.arrow-top{
    position: absolute;
    transform: rotate(45deg) translateY(-1px);
    transition: background-color 0.3s ease;
    
}
.arrow-bottom{
    position: absolute;
    transform: rotate(-45deg) translateY(1px);
    transition: background-color 0.3s ease;
}

.arrow-horizontal-bar{
    position:absolute;
    height: 4px;
    width: 30px;
    top: calc(50% - 2px);
    background: black;
    border-radius: 2px;
    transform: translateX(4px);
    transition: background-color 0.3s ease;
}

.details-header h2 {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.details-header p {
    font-size: 1.4rem;
}

.details-header img{
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.details-actions{
    display:flex;
    flex-direction: row;
    width: 50%;
    min-width: 350px;
    height: 100px;
    align-items: flex-end;
    justify-content: center;
    justify-self: flex-end;
    gap: 20px;
    margin: auto;
}

.details-actions button{
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    height: 50px;
    cursor: pointer;
}

.edit-contact{
    background: rgb(46, 41, 35);
    transition: background-color 0.3s ease;
}

.edit-contact:hover{
    background:rgb(95, 86, 76);
    transition: background-color 0.3s ease;
}

.delete-contact{
    background: rgb(110, 24, 24);
    transition: background-color 0.3s ease;
}

.delete-contact:hover{
    background: rgb(175, 45, 45);
    transition: background-color 0.3s ease;
}

@media(prefers-color-scheme: dark){
    .details-card{
        color: black;
    }
}

@media(max-width: 720px){
    .back-container{
        right: 10px;
    }

    .back-container p{
        display: none;
    }
}

@media(max-width: 500px){
    .details-header{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        grid-template-areas:
            "name"
            "image";
    }
    .details-header img{
        grid-area: image;
        justify-self: center;
    }
    .details-header h2{
        grid-area: name;
        justify-self: center;
    }

    .details-header p{
        display: none;
    }
}

@media(prefers-color-scheme: light){
    .details-card{
    box-shadow: 3px 3px 8px rgb(177, 161, 146);
}
}