.details-card{
    width: 100%;
    padding: 2rem 2rem;
    background: var(--card);
    border-radius: 2rem;
    position: relative;
}

.details-header{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    gap: 30px;
    padding-bottom: 3rem;
    border-bottom: 2px solid gray;
}

.back-arrow-container:hover div {
    background-color: gray;
    transition: background-color 0.3s ease;
}

.back-arrow-container{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 50px;
    cursor: pointer;
}

.arrow-head-part{
    width: 20px;
    height: 4px;
    background: black;
    transform-origin: left;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    transition: background-color 0.3s ease;
}

.arrow-head{
    position: absolute;
    top: calc(50% - 2px);
    transition: background-color 0.3s ease;
}

.arrow-top{
    position: absolute;
    transform: rotate(45deg) translateY(-1px);
    transition: background-color 0.3s ease;
    
}
.arrow-bottom{
    position: absolute;
    transform: rotate(-45deg) translateY(1px);
    transition: background-color 0.3s ease;
}

.arrow-horizontal-bar{
    position:absolute;
    height: 4px;
    width: 30px;
    top: calc(50% - 2px);
    background: black;
    border-radius: 2px;
    transform: translateX(4px);
    transition: background-color 0.3s ease;
}

.details-header h2 {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.details-header p {
    font-size: 1.4rem;
}

.details-header img{
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}