:root {
  --card: rgb(221, 202, 182);
}

@media (prefers-color-scheme: light) {
  :root {
    --card: rgb(250, 234, 214);
  }
  .contact{
    box-shadow: 3px 3px 10px rgb(191, 187, 174);
  }
}

.contact{
    background-color: var(--card);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 325px;
    display: flex;
    gap: 1rem;

}

.contact-title, .contact-subtitle, .contact-data-point {
    color: black;
}

.contact-data-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.data-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.contact-title{
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0;
    width: 90%;
    border-bottom: 1px solid gray;
}

.query-span{
    display: inline;
    background-color: rgb(168, 149, 121);
}

.detail-span{
    display: inline;
}


.pet-image-container{
    aspect-ratio: 1;
    height: 100%;
    background-color: rgb(58, 55, 50);
    grid-area: a;
}

.contact button {
    /* align-self: center; */
    width: 60%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    background: var(--btn);
    color: var(--btnText);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background: var(--btnHover);
    transition: background-color 0.3s ease;
}

.pet-image{
    width: 100%;
    height: 100%;
}

@media(max-width:850px){
    #address-detail-block{
        display: none;
    }

}

@media(max-width: 500px){
    .contact{
        height: unset;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
        border-radius: 0;
        grid-template-areas:
            "a"
            "i";
    }
    .pet-image-container{
        grid-area: i;
    }
    .contact-data-area{
        grid-area: a;
        padding: 1rem;
    }
}