.contact{
    background-color: rgb(218, 209, 193);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 250px;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.contact-title, .contact-subtitle, .contact-data-point {
    color: black;
}

.contact-title{
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.contact-data-area{
    width: 60%;
}

.contact-data-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* .contact .basic-details-block{

}

.contact .address-block{

} */
.pet-image-container{
    aspect-ratio: 1;
    height: 100%;
    background-color: rgb(58, 55, 50);
}
.pet-image{
    width: 100%;
    height: 100%;
}