:root {
  --card: rgb(221, 202, 182);
}

@media (prefers-color-scheme: light) {
  :root {
    --card: rgb(221, 202, 182);
  }
}

.contact{
    background-color: var(--card);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 250px;
    display: flex;
    gap: 1rem;
}

.contact-title, .contact-subtitle, .contact-data-point {
    color: black;
}

.contact-data-area{
    width: 100%;
}

.data-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.contact-title{
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0;
    width: 90%;
    border-bottom: 1px solid gray;
}


.pet-image-container{
    aspect-ratio: 1;
    height: 100%;
    background-color: rgb(58, 55, 50);
    grid-area: a;
}
.pet-image{
    width: 100%;
    height: 100%;
}

@media(max-width:720px){
    #address-detail-block{
        display: none;
    }

}

@media(max-width: 500px){
    .contact{
        height: unset;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
        border-radius: 0;
        grid-template-areas:
            "a"
            "i";
    }
    .pet-image-container{
        grid-area: i;
    }
    .contact-data-area{
        grid-area: a;
        padding: 1rem;
    }
}