:root {
  --card: rgb(221, 202, 182);
}

@media (prefers-color-scheme: light) {
  :root {
    --card: rgb(221, 202, 182);
  }
}

.contact{
    background-color: var(--card);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "a a a a t t t t t t"
        "a a a a b b b b b b"
        "a a a a b b b b b b"
        "a a a a b b b b b b"
    /* display: flex;
    flex-direction: row;
    gap: 2rem; */

}

.contact-title, .contact-subtitle, .contact-data-point {
    color: black;
}

.contact-title{
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0;
    width: 90%;
    border-bottom: 1px solid gray;
    grid-area: t;
}

.contact-data-area{
    grid-area: b;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.details-block{
   flex-shrink: 1;
}

.pet-image-container{
    aspect-ratio: 1;
    height: 100%;
    background-color: rgb(58, 55, 50);
    grid-area: a;
}
.pet-image{
    width: 100%;
    height: 100%;
}

@media(max-width:760px){
    .pet-image{
        display: none;
    }
}