:root {
    /* Light theme colors */
    --bg: #0f0f10;
    --fg: #e7e7e9;
    --muted: #9aa0a6;
    --border: #2b2b2e;
    --pop: rgb(255, 255, 255);

    --image: url("/white-bones.png");
}


@media (prefers-color-scheme: light) {
    :root {
        /* Dark theme colors for media query */
        --bg: #ffffff;
        --fg: #1d1d1f;
        --muted: #6e6e73;
        --border: #e5e5ea;
        --pop: rgb(158, 94, 10);

        --image: url("/black-bones.png");
    }
}

* {
    box-sizing: border-box;
}

ul,li{
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Ubuntu,
        Cantarell,
        Noto Sans,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji";
    color: var(--fg);

    background: var(--image) repeat;
    background-color: var(--bg);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}

@media (max-width: 720px) {
    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 500px){
      h2{
        font-size: 1.5rem;
    }
}