#search-heading {
    font-size: 1.5rem;
}

.search {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid var(--line);
}

.search__controls {
    position: relative;
    width: 300px;
    max-width: 90%;
    height: 40px;
    margin-bottom: 2rem;
    opacity: 0.8;
}
.search__controls img {
    height: 60%;
    top: 40%;
    aspect-ratio: 1;
    position: absolute;
    right: 12px;
    opacity: 0.6;
}
.search__controls:has(#search-input:focus) {
    opacity: 1;
}

#search-input {
    width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search__results {
    color: #888;
    margin-left: 0.4rem;
}

.contacts {
    margin-top: 1.5rem;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-select{
    display: flex;
    width: 400px;
    align-items: center;
    gap: 30px;
    user-select: none;
}

.page-select button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}

.page-select button:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.page-select button:hover {
    color: gray;
    transition: color 0.3s ease;
}

:root {
  --input: rgb(255, 255, 255);
  --inputFocus: rgb(214, 197, 171);
  --btn: rgb(167, 121, 69);
  --btnText: white;
  --btnHover: rgb(211, 165, 113);
}

@media (prefers-color-scheme: light) {
  :root {
    --input: rgb(240, 229, 211);
    --btn: rgb(49, 48, 45);
    --btnText: white;
    --btnHover: rgb(95, 93, 88);
    --inputFocus: rgb(218, 194, 156);
  }
 
    input, .image-input-container, textarea{
    box-shadow: 3px 3px 8px rgb(177, 161, 146);
    border: 1px solid rgba(223, 211, 190, 0.498);
  }
}
